#need docker desktop
#docker-compose up
#docker-compose down
version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: testconstructor
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: