.logout-btn {
    position: absolute;
    top: -75px;
    right: 20px;
    z-index: 10000;
    background: #2F4156;
    padding: 25px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: background 0.3s;
    color: white;
    outline: none !important;
}

.logout-btn:hover {
    background: #1a2b3c;
}

.logout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 99998;
}

.logout-modal-content {
    position: fixed;
    background: #F0E8D5;
    border-radius: 30px 0px 30px 30px;
    width: 301px;
    z-index: 99999;
    animation: modalSlideDown 0.25s ease-out;
}

@keyframes modalSlideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logout-modal-body {
    padding: 25px;
}

.user-info {
    margin-bottom: 15px;
    text-align: center;
}

.user-name {
    margin: 0;
    font-weight: 600;
    color: #2F4156;
    font-size: 22px;
    padding-bottom: 10px;
}

.email-info {
    margin-bottom: 1px;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(47, 65, 86, 0.2);
}

.user-email {
    margin: 0;
    color: #2F4156;
    font-size: 14px;
    word-break: break-all;
    padding: 5px 0;

}

.logout-actions {
    display: flex;
    justify-content: center;
}

.logout-confirm-btn {
    color: red;
    background: none;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    text-align: center;
    font-family: 'Futura Md BT', sans-serif;
}