@font-face {
    font-family: 'Futura Md BT';
    src: url('./futuramdbtrusbyme_medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('./futuramdbtrusbyme_mediumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('./futuramdbtrusbyme_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}